/* Establecer fuentes y colores base */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #0053A0;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="number"],
input[type="radio"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    width: auto;
}

button {
    background-color: #0053A0;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #003D73;
}

#results {
    background-color: #e1f5fe;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #0053A0;
}

fieldset {
    border: none;
    margin-top: 20px;
}

legend {
    font-weight: bold;
}

/* Mejorar la visualización en dispositivos móviles */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    form {
        padding: 10px;
    }
}
